//Page
$background: #f8f9fa;


//Navbar
$logo-border-color: #ccc;
$nav-color: white;
$li-border-color: black;

$text-color: black;
$text-weak-color: #363636;
$text-link-color: #2997ff;


//Blog Posts
$blog-section-color: black;
$blog-title-color: white;
$blog-date-color:  #363636;
$tag-text-color: white;