@import './_variables';
@import './nav';
@import './home';
@import './masonry-post';
@import './post-masonry';

html body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background-color: $background;
    margin: 0;
}

h1 {
    font-size: 32px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    margin: 4rem 0.5rem;
}

.overlay::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}